.drag-handle {
    position: relative;
    z-index: 10;
    background-color: #d1d5db;
    /* gray-300 */
    padding: 4px;
    cursor: move;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #9ca3af;
    /* gray-400 */
    transition: background-color 0.2s;
}

.drag-handle:hover {
    background-color: #9ca3af;
    /* gray-400 */
}

.drag-handle-pill {
    width: 48px;
    /* w-12 */
    height: 6px;
    /* h-1.5 */
    background-color: #4b5563;
    /* gray-600 */
    border-radius: 9999px;
    /* rounded-full */
}